{% extends "registration/base_account_form.html" %}

{% block content %}
  {% if validlink %}
    {{ block.super }}
  {% else %}
  {% block errs %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-warning text-primary">
          Password reset failed. The password reset link was invalid,
          possibly because it has already been used. Please request
          a new password reset.
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% endif %}
{% endblock %}

{% block page_title %}Password Reset{% endblock %}
{% block form_id %}password_reset_confirm{% endblock %}
{% block form_action %}{% endblock %}
{% block lost_pass %}{% endblock %}

