        var rec1 = new google.maps.Rectangle({
            strokeColor: '#FD0000',
            strokeOpacity: 0.6,
            strokeWeight: 1,
            fillColor: '#DD0000',
            fillOpacity: 0.1,
            map: map,
            bounds: {
                north: 33.422199,
                south: 33.221848,
                west: -96.820687,
                east: -96.501281
            }
        });

        var rec2 = new google.maps.Rectangle({
            strokeColor: '#FD0000',
            strokeOpacity: 0.6,
            strokeWeight: 1,
            fillColor: '#DD0000',
            fillOpacity: 0.1,
            map: map,
            bounds: {
                north: 33.221848,
                south: 33.011252,
                west: -96.820687,
                east: -96.593759
            }
        });

        var rec3 = new google.maps.Rectangle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.6,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.1,
            map: map,
            bounds: {
                north: 33.633684,
                south: 33.004252,
                west: -96.820687,
                east: -96.463759
            }
        });

