<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="brand-div">
      <a class="navbar-brand text-center" href="/">{{ site.schema.name }}</a>
    </div>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown{% if 'services' in request.path %} active{% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a id="whatwedo" class="text-primary" href="{% url 'services' %}">What We Do<hr class="separator"></a>
          </li>
          <li role="separator" class="divider"></li>
        {% for service in service_list %}
          <li class="service-item">
            <a id="{{ service.anchor_id }}-dd-link" class="service-link" href="{{ service.get_absolute_url }}">{{ service.name }}</a>
          </li>
        {% endfor %}
        </ul>
      </li>
      <li class="dropdown{% if 'about' in request.path %} active{% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a id="aboutus" class="text-primary" href="{% url 'about' %}">Alpha Geeks<hr class="separator"></a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="service-item">
            <a id="privacy-dd-link" class="service-link" href="{% url 'privacy' %}">Privacy Policy</a>
          </li>
          <li class="service-item">
            <a id="terms-dd-link" class="service-link" href="{% url 'terms' %}">Terms &amp; Conditions</a>
          </li>
        </ul>
      </li>
      <li{% if 'contact' in request.path %} class="active"{% endif %}>
        <a href="{% url 'contact' %}">Contact</a>
      </li>
      <li{% if 'community' in request.path %} class="active"{% endif %}>
        <a href="{% url 'forum:index' %}">Forum</a>
      </li>
      <li{% if 'docs/public' in request.path %} class="active"{% endif %}>
        <a href="//docs.alphageek.xyz">Docs</a>
      </li>
      {% if user.is_authenticated and 'user/' in request.path %}
      <li>
        <a class="btn loginout" href="{% url 'logout' %}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-sign-out fa-stack fa-inverse" title="Logout"></i>
          </span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
