{% extends 'base_page.html' %}{% load bootstrap3 staticfiles recaptcha2 cache %}
{% block page_title %}Contact Us{% endblock page_title %}
{% block page_extra_head %}{% recaptcha_init %}
<style>#GoogleMap {height: 480px;border: 2em solid white;}</style>
{% endblock page_extra_head %}
{% block content %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Email us</h1>
        <p class="lead"></p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="sponsor"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissable alert-link">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message }}
      </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <style>
        div.form-group > button.btn {margin-left: 1em;}
        textarea.form-control{max-width: 100%;}
      </style>
      <form id="contact_form" class="form-horizontal" role="form" action="" method="POST" novalidate>{% csrf_token %}
        {% for field in form %}
          {% bootstrap_field field show_label=False form_group_class='form-group row' field_class='col-md-12' %}
        {% endfor %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
      </form>
    </div>
    <div class="col-md-6 col-md-offset-1" id="GoogleMap"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center"></h1>
    </div>
  </div>
</div>
{% endblock content %}
{% block page_extra_script %}
<script src="{% static 'js/vendor/jquery.are-you-sure.js' %}"></script>
<script src="{% static 'js/vendor/ays-beforeunload-shim.js' %}"></script>
<script>
  function enableSubmit() {
    document.querySelectorAll(
      '#contact_form button[type=submit]'
    ).forEach(function(i) {
      i.disabled = false;
    });
  }

  function disableSubmit() {
    document.querySelectorAll(
      '#contact_form button[type=submit]'
    ).forEach(function(i) {
      i.disabled = true;
    });
  }
</script>
<script>
  $(function() {
    $('#contact_form').areYouSure({
      addRemoveFieldsMarksDirty: true
    });

    if ($('#contact_form > .form-group.row.has-error').length > 0)
      $('#contact_form').addClass('dirty');

    if (!$('#recaptcha-token').attr('value'))
      disableSubmit();
  });
</script>
<script>
  function initMap() {
    var agcs = new google.maps.LatLng(33.023705,-96.772012);

    var map = new google.maps.Map(document.getElementById('GoogleMap'), {
        center: agcs,
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl:false,
        streetViewControl:false
    });

    var marker = new google.maps.Marker({
        position:agcs,
        map: map,
        title: 'AGCS'
    });

    var infowindow = new google.maps.InfoWindow({
      content: `{% include 'parts/infowindow.html' %}`
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
        map.setZoom(10);
        map.setCenter(marker.getPosition());
    });

    google.maps.event.addListener(map,'center_changed',function() {
        window.setTimeout(function() {
            map.panTo(marker.getPosition());
        }, 3000);
    });

    infowindow.open(map, marker);
  }
</script>
{% if debug %}
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCEE3LMbP2_ZJsha-M1yMrsaVqAltAwnHE"></script>
{% else %}
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyALXHHKqqKIM-E8_zyhCoGk8psef7d9t0k"></script>
{% endif %}
{% endblock page_extra_script %}
