{% extends "base_page.html" %}{% load cache landing_utils %}
{% block page_extra_head %}
<style>
.panel-primary>.panel-heading {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  padding-bottom: 0;
}

.panel-primary {
  border-color: #2c3e50;
}

#sidebar > div.panel.panel-primary {
  background-color: #2b3d4e;
}

#sidebar > div > div.list-group.table-of-contents.panel-body > a,
#sidebar > div > div.list-group.table-of-contents.panel-body {
  background-color: #212020;
}

#sidebar > div > div.list-group.table-of-contents.panel-body {
  padding-top: 12px;
}
</style>
<style>{% inline_static_file 'css/services.min.css' 'css' %}</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="NOT-page-header" id="banner">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <p class="lead"></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-offset-3">
        <div class="sponsor"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 hidden-xs hidden-sm" id="sidebar">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">What We do</h3>
        </div>
        <div class="list-group table-of-contents panel-body">
        {% for service in service_list %}
          <a class="list-group-item" href="{{ service.get_absolute_url }}">{{ service.name }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
    {% cache 600 service-md %}
    <script type="application/ld+json">{% include_compressed "metadata/services.json" %}</script>
    {% endcache %}
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-1">
      {% for service in service_list %}
        <hr class="service-tag">
        <div id="{{ service.anchor_id }}" class="service-div">
          <div class="page-header">
            <h2 class="text-center text-primary"><strong>{{ service.name }}</strong></h2>
          </div>
          <div class="bs-component service well well-lg">
            {{ service.html|safe }}
          </div>
        </div>
        {% if forloop.counter0 == 0 %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
{% block page_extra_script %}
<script>
  $(document).ready(function() {
    var tis = $(".table-of-contents .list-group-item");
    $(document).scroll(function() {
      if (!$(window).scrollTop())
        $(tis).removeClass("last-clicked");
    });
    $(tis).click(function() {
      $(tis).removeClass("last-clicked");
      $(this).addClass("last-clicked");
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#Diagnosis_Repair .service").append(`
       <form id="BuyDiaRep" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
       <input type="hidden" name="cmd" value="_s-xclick">
       <input type="hidden" name="hosted_button_id" value="P7VY54ALJJ7KN">
       <input type="image" src="/s/img/bn.png" border="0" name="submit" alt="PayPal">
       <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>`
    );
  });
</script>
{% endblock page_extra_script %}
